<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "card-pic.jpg" %>');">
  <div class="banner-description">
    <h2><%= @cocktail.name %></h2>
  </div>
</div>


<div class="container">
  <div class="cocktail-description">
    <h3>Description</h3>
    <% if @cocktail.doses.count == 0 %>
      <p>No descriptions added yet!</p>
    <% else %>
      <% @cocktail.doses.each do |dose| %>
        <%= dose.description %>
      <% end %>
    <% end %>
  </div>
  <div class="cocktail-recipe">
    <h3>Ingredients</h3>
    <% if @cocktail.doses.count == 0 %>
      <p>No descriptions added yet!</p>
    <% else %>
      <% @cocktail.doses.each do |dose| %>
        <p>
          <strong><%= Ingredient.find(dose.ingredient_id).name %></strong> -
          <%= link_to "Delete", cocktail_dose_path(@cocktail, dose),
          method: "DELETE",
          data: { confirm: "Are you sure?"} %>
        </p>
       <% end %>
  <% end %>
  </div>
</div>







<%= link_to 'Add doses',  new_cocktail_dose_path(@cocktail) %>

<%= link_to 'Edit', edit_cocktail_path %>

<%= link_to "Delete cocktail", cocktail_path(@cocktail),
  method: "DELETE",
  data: { confirm: "Are you sure?"} %>
